.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


.fa-stack {
    color: blue;
}

.title-containter {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 2rem;
    text-align: center;
}



@media screen and (min-width: 340px) {
    .title {
        font-size: 2rem;
    }    
}

@media screen and (min-width: 800px) {
    .title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1000px) {
    .title {
        font-size: 4rem;
    }
}
