html {
    scroll-behavior: smooth;
}

body {
    height: 2500px;
    overflow-x: hidden;
}


.banner {
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner::before {
    content: '';
    background-image: url('fruits_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
}

.banner > div {
    position: relative;
    top: 20%;
    text-align: center;
}

.btn-show-more {
    margin-top: 20px;
}

.btn-show-more > a {
    text-decoration: none;
    color: white;
}

.btn-show-more > a:hover {
    text-decoration: none;
    color: white;
}

.title {

    color: white;
    font-size: 5rem;
    font-weight: 900;
    /* opacity: 1; */
}


.subtitle {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}





.why-us {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.why-us-title {
    font-size: 3rem;
    text-align: center;
}

.benefits {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 100px; */
}

.benefit > img {
    max-width: 200px;
}

.benefit-title {

}

.benefit-title-div {
    display: flex; 
    justify-content: center; 
    text-align: center;
}


.products-title {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.products-title > p {
    text-align: center;
}

.products-carousel {
    margin-left: 20px !important;
    margin-right: 20px !important;
    padding: 0 !important;
}

.product-carousel-div > img {
    max-height: 500px;
    /* width: 100px; */
}


.btn-all-products > a {
    text-decoration: none;
    color: white;
}

.btn-all-products > a:hover {
    text-decoration: none;
    color: white;
}

.btn-show-all-products {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
/* .blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    height: 8px !important;
    width: 8px !important;
}

.blog .carousel-indicators .active {
background: #707070;
} */




.categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.categories-grid .categories ul li a:hover,
.categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.categories-grid .categories ul li a.active {
    margin-left: 0;
    /* background-color: #72dd78; */
    background-color: #cab05c;
    /* padding: 0px 20px; */
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-size: 30px;

    /* padding: 5px !important;  */
    font-size: 40px;
    color: black;
}


.categories-grid .categories ul li a.active::first-letter {
    font-size: 80px;
}



.haf_layout {
    min-height: 500px;
    position: relative;
}

.haf_layout::after {
    width: 50%;
    position: absolute;
    right: 0;
    content: "";
    display: block;
    /* background: #72dd78; */
    height: 100%;
    top: 0;
}

.haf_layout .container-fluid {
    position: relative;
    z-index: 1;
}

.banner_section {
    position: absolute;
    background: rgba(255,255,255,.9);
    padding: 60px 50px;
    top: 165px;
    left: 80px;
}

.banner_section p {
    margin-bottom: 0;
}

.contact_section {
    background: #444343;
    padding: 70px 0 50px;
    margin-bottom: 80px;
}

.full {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.product_blog {
    /* background: #eaeaea; */
    background: #d3d3d3;
    padding: 25px;
}

.product_blog img {
    width: 100%;
}

.product_blog h3 {
    margin: 25px 0 0 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: #202120;
    font-weight: 500;
}